@media (max-width: 575px){
	
}
@media (min-width: 576px){
	
}
@media (min-width: 768px){
	
}
@media (min-width: 992px){
	
}
@media (min-width: 1200px){
	
}
@media (min-width: 1360px){
	
}
@media (min-width: 1680px){
}
.lgm {
	vertical-align: middle;
	margin:auto;
	height:250px;
	width:250px;
	margin-top:10%;
}
.lg {
	height:100px;
	width:250px;
}