@media (max-width: 575px){
/*add_custom input*/
.achf {
    font-size: 1.3rem;
}
.actext3 {
    width: 100% !important;
    margin-top: 8px;
}
.actext4 {
    width: 100% !important;
    margin-top: 8px;
}
.actext5 {
    width: 100% !important;
    margin-top: 8px;
}
.acpt3 {
    width: 100% !important;
}
.acpt1 {
    width: 100% !important;
}
.acpb1 {
    width: 100% !important;
}
.acpb2 {
    width: 100% !important;
}
.bdadd {
     border: 0px;
}
}
@media (min-width: 576px){
/*add_custom input*/
.achf {
    font-size: 1.3rem;
}
.actext3 {
    width: 100% !important;
    margin-top: 8px;
}
.actext4 {
    width: 100% !important;
    margin-top: 8px;
}
.actext5 {
    width: 100% !important;
    margin-top: 8px;
}
.acpt3 {
    width: 100% !important;
}
.acpt1 {
    width: 100% !important;
}
.acpb1 {
    width: 100% !important;
}
.acpb2 {
    width: 100% !important;
}
/*brd-addcustom*/
.bdadd {
     border: 0px;
}
}
@media (min-width: 768px){
/*add_custom input*/
.achf {
    font-size: 1.5rem;
}
.actext3 {
    width: 100% !important;
    margin-top: 8px;
}
.actext4 {
    width: 100% !important;
    margin-top: 8px;
}
.actext5 {
    width: 100% !important;
    margin-top: 8px;
}
.acpt3 {
    width: 100% !important;
}
.acpt1 {
    width: 100% !important;
}
.acpb1 {
    width: 100% !important;
}
.acpb2 {
    width: 100% !important;
}
/*brd-addcustom*/
.bdadd {
     border: 8px solid rgba(52,58,64,0.45);
     border-radius: 7px;
}
}
@media (min-width: 992px){
/*padding*/
.pln{
    padding-left: 0px;
}
.prn{
    padding-right: 0px;
}
/*add_custom input*/
.achf {
    font-size: 1.8rem;
}
.actext {
    width: 80px !important;
}
.actext3 {
    width: 100px !important;
    margin-top: 0px;
}
.actext4 {
    width: 100px !important;
    margin-top: 0px;
}
.actext5 {
    width: 70px !important;
    margin-top: 0px;
}
.acpt1 {
    width: 500px !important;
}
.acpt2 {
    width: 550px !important;
}
.acpt3 {
    width: 200px !important;
}
.acpb1 {
    width: 300px !important;
}
.acpb2 {
    width: 100px !important;
}
.acpb3 {
    width: 200px !important;
}
.acpb4 {
    width: 200px !important;
}
/*brd-addcustom*/
.bdadd {
     border: 16px solid rgba(52,58,64,0.45);
     border-radius: 7px;
}
/*add-order*/
.aodtext {
    width: 100px !important;
}
.aodtext1 {
    width: 120px !important;
}
.aodinp1 {
    width: 100px !important;
}
.aodinp2 {
    width: 550px !important;
    overflow: hidden;
}
.aodinp3 {
    width: 560px !important;
    overflow: hidden;
}
.aodinp4 {
    width: 300px !important;
    overflow: hidden;
}
.mgt {
    margin-top: 0.5rem;
}
.aodtext2 {
    width: 100px !important;
}
.aodtext3 {
    width: 80px !important;
    margin-left: 16px;
    margin-right: 16px;
}
.aoddate{
    width: 150px !important;
}
/*add-emp*/
.adetext {
    width: 100px !important;
}
.adeinp1{
    width: 300px !important;
}
.adeinp2{
    width: 150px !important;
}
.adeinp3{
    width: 350px !important;
}
.adeinp4{
    width: 450px !important;
}
.adeinp5{
    width: 300px !important;
}
.adepic{
    width: 150px;
    height: 150px;
    background-color: rgba(225,225,225,60%);
    border: 1px solid #ced4da;
    border-radius: 5px;
}
/*add-mdeq*/
.adeqtext {
    width: 140px !important;
}
.adeqinp1{
    width: 80px !important;
}
.adeqinp2{
    width: 270px !important;
}
.adeqinp3{
    width: 350px !important;
}
}
@media (min-width: 1200px){
/*add_custom input*/
.achf {
    font-size: 2rem;
}
.acpb3 {
    width: 300px !important;
}
.acpb4 {
    width: 300px !important;
}
/*add-order*/
.aodtext1 {
    width: 120px !important;
}
.aodinp1 {
    width: 100px !important;
}
.aodinp2 {
    width: 550px !important;
}
.aodinp3 {
    width: 650px !important;
}
.mgt {
    margin-top: 0.5rem;
}
.aodtext2 {
    margin-left: 0px;
}
.aodtext3 {
    width: 80px !important;
    margin-left: 16px;
    margin-right: 16px;
}
.aoddate{
    width: 150px !important;
}
}
@media (min-width: 1360px){
/*add-order*/
.aodtext1 {
    width: 120px !important;
}
.aodinp1 {
    width: 100px !important;
}
.aodinp2 {
    width: 550px !important;
}
.aodinp3 {
    width: 750px !important;
}
.mgt {
    margin-top: 0.5rem;
}
.aodtext2 {
    margin-left: 0px;
}
.aodtext3 {
    width: 80px !important;
    margin-left: 16px;
    margin-right: 16px;
}
.aoddate{
    width: 150px !important;
}	
}
@media (min-width: 1680px){

}
.lgm {
    vertical-align: middle;
    margin:auto;
    width:310px;
    margin-top:10%;
}
.lg {
    height:100px;
    width:250px;
}
.bton {
    position: absolute;
    top: 292px;
    right: 40.5%;
    width: 52px;
    border:solid 6px #fafafa;
}
.bton:hover {
    border-color: #fafafa;
}
.imb {
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.usb {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}
.btc {
    background-color:#2a88d0;
}
.btn-circle {
    padding: 6px 8px 8px 8px;
    border-radius: 50%;
}
input[type="text"]:focus {
  border-color: #2A88AD;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
/*tx-color*/
.tx1{
    color:#555f61;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
}
.tx2{
    color:rgba(0,0,0,0.84);
}
.tx3{
    color:rgba(52,58,64);
}
.tx4 {
    color:red;
}
.tx5 {
    color:#ffffff;
}
/*border*/
.bdac {
    border-bottom: 1px solid #dddddd;
}
.bdac1 {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
/*back-ground*/
.bg {
     background-color: rgba(245,245,245,100%);
     font-family: "CordiaUPC_1230459";
     font-size: 14px;
}
.bg1{
    background-color: rgba(225,225,225,100%);
    font-family: "CordiaUPC_1230459";
    font-size: 14px;
}
.bgadd {
    background-color: rgba(52,58,64);
}
.bgadd2 {
    background-color: rgba(0,0,0,0.15);
}
/*font-size*/
.fs1{
    font-size: 18px;
}
   /*footer*/
footer.ftfdp {
    background-color: rgba(0,0,0,0.25);
    border-top: solid 1px; 
    border-top-color: rgba(255,255,255,0.15);
    height: 40px;
}
.ch{
    height:96px;
}
.form-control {
    height: calc(1.5em + 0.25rem + 2px);
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(225,225,225,60%);
}
/*add_custom input*/
