@media (max-width: 575px){
	
}
@media (min-width: 576px){
	
}
@media (min-width: 768px){
	
}
@media (min-width: 992px){
	
}
@media (min-width: 1200px){
	
}
@media (min-width: 1360px){
	
}
@media (min-width: 1680px){
}
.lgm {
    vertical-align: middle;
    margin:auto;
    width:310px;
    margin-top:10%;
}
.lg {
    height:100px;
    width:250px;
}
.us {
    width:80%;
    margin-bottom: 0rem;
}
.imb {
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.usb {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}
.btc {
    background-color:#2a88d0;
}
.btn-circle {
    padding: 6px 8px 8px 8px;
    border-radius: 50%;
}
.bdac {
    border-bottom: 1px solid #ced4da;
}
input[type="text"]:focus {
  border-color: #2A88AD;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
/*tx-color*/
.tx1{
    color:#555f61;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
}
.tx2{
    color:#495057;
}
/*border*/

/*back-ground*/
.bg1{
    background-color: ;
}